.investor-search {
  background-color: lighten(#eef0f6, 1);
  transition      : all .4s ease-in;
}

.investor-svg {
  bottom    : 0;
  z-index   : -4;
  right     : 0;
  // height : 300px;
}

.investor-search:focus {
  background: white;
}

.investor-container:before {
  opacity: 0.2;
}

.investor-container {
  background-color     : #ffffffd8 !important;
  background-image     : url(../../assets/investor.svg);
  background-position  : center;
  background-repeat    : repeat;
  background-blend-mode: overlay;

}