<div class="investor-container">

  <div class="header-container d-flex flex-column w-100 mt-5 p-3">

    <h1 class="display-5 text-white mt-3">Investors</h1>
    <div class="mx-auto w-50">
      <input class=" w-100 p-3 rounded form-control mt-3 investor-search" placeholder="Search for investor by name..."
        (keyup)='searchQuery.next($event.target.value)' *ngIf="investors" />
    </div>

  </div>

  <div class="container mx-auto" [@simpleFadeAnimation]="'in'">
    <ngx-datatable #table [rows]="investors" [columns]="columns" [columnMode]="ColumnMode.force" [headerHeight]="50"
      [footerHeight]="50" (select)='onCellClick($event)'
      class="material shadow rounded border fullscreen selection-cell" [selectionType]="SelectionType.single"
      [limit]="20" rowHeight="auto" rowWidth="auto" *ngIf="investors" style="position: relative;
    top: -50px;">

      <ngx-datatable-column name="Investor Id">
        <ng-template let-column="column" ngx-datatable-header-template> ID </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Surname">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>{{ value }}</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Date Created">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'dd/MM/yyyy' }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <app-loading [data]='investors'></app-loading>

  </div>
</div>