<div class="mx-auto text-center loading my-5" *ngIf="!data && !timeout">
  <div id="loading-box" class="mx-auto"></div>
  <h4 class=" my-2">Loading...</h4>
</div>

<p class="text-center text-warning" *ngIf="timeout && !data">
  Please check your internet connect or try again later
</p>