.loading {
  animation: load 3s infinite ease-in-out;
}

#loading-box {
  height       : 100px;
  width        : 100px;
  background   : rgb(150, 126, 138);
  border-radius: 100%;
}

@keyframes load {
  from {
    color    : lightgrey;
    opacity  : 1;
    transform: scale(1.6);
  }

  to {
    color      : black;
    font-weight: boold;
    opacity    : 0;
    transform  : scale(1.4);

  }

}