<app-loading [data]='investor | async'></app-loading>

<div class="investor-detail-container">
  <div class="container mx-auto content">

    <div class="mx-2 row">
      <div class="col-lg-5 bg-white shadow investor-col mt-4 rounded">
        <div class="investor-details  p-3">
          <h1>
            <!-- <img src="../../assets/account.svg" alt="" height="20px" class=" text-light"> -->
            {{(investor|async)?.name }} {{(investor | async)?.surname}}</h1>
          <p class="m-0">Created on {{(investor| async)?.dateCreated | date}}</p>
        </div>
      </div>
    </div>


    <div class="d-flex justify-content-between align-items-center">
      <h4 class="my-3 text-black-50 mr-1 ">Accounts</h4>
      <div class="buttons d-flex">
        <a [routerLink]="[ '/investor/account/report', investorId ]" class="btn btn-dark text-light mr-2">Reports</a>
        <button class="btn btn-primary" (click)='showAddAccountModal(template)'>Add Account</button>
      </div>
    </div>



    <ngx-datatable #table [rows]="accounts | async" [columns]="columns" [columnMode]="ColumnMode.force"
      [headerHeight]="50" [footerHeight]="50" class="material shadow rounded border fullscreen " [limit]="20"
      rowHeight="auto" rowWidth="auto">

      <ngx-datatable-column name="Account ID">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>



      <ngx-datatable-column name="Amount Held">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | currency:'£' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Type">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Date Created">
        <ng-template let-column="column" ngx-datatable-header-template> {{ column.name }} </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'dd/MM/yyyy' }}
        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add an account</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]='accountForm'>
          <div class="form-group">
            <label for="account-type">Select an account type</label>
            <select class="form-control" formControlName="type" required>
              <option *ngFor="let type of accountTypes" [value]="type">{{type}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount-held">Amount held</label>
            <input type="text" class="form-control" id="amount-held" formControlName="amountHeld"
              placeholder="Please enter an amount" required>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addNewAccount()">Add account</button>
        </form>
      </div>
    </ng-template>
  </div>
</div>

<!-- Alternative design with cards -->
<!-- <div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12  my-2" *ngFor="let account of accounts | async">
    <div class="card shadow-sm border-light">
      <div class="card-body">
        <h5 class="card-title"> Amount held: {{account.amountHeld | currency:'£'}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> Created on {{account.dateCreated | date}}</h6>
        <h6 class="card-text text-muted">AccountId:
          {{ account.accountId}}
        </h6>
        <h6 class="card-text text-muted">Investor Id:
          <span> {{ account.investorId}}</span>
        </h6>

      </div>
    </div>
  </div>
</div> -->