.investor-details {
  color: white
}

.investor-col {
  background: #0061f2 !important
}

.investor-detail-container {
  background-color     : #ffffffee !important;
  background-image     : url(../../assets/accounts.svg);
  background-position  : center;
  background-repeat    : repeat;
  background-blend-mode: overlay;
  min-height           : 90vh;
}