<div class="d-flex align-items-center p-3 px-md-4  shadow-sm fixed-top bg-white ">
  <h4 class="my-0 mr-md-auto p-2 font-weight-normal" routerLink='/'>
    <img src="https://www.cleveradviser.com/wp-content/uploads/Clever_logo-1-sm.png" height="30" alt="">
  </h4>
</div>



<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
<notifier-container></notifier-container>