<div class="content container mb-5" style="margin-top: 100px;">
  <div class="d-flex justify-content-center mb-3">
    <div class="btn-group mx-auto" role="group" aria-label="Charts Options">
      <button type="button" class="btn btn-white border" (click)="pieChartType = 'line'">Line Chart</button>
      <button type="button" class="btn btn-white border" (click)="pieChartType = 'horizontalBar'">Horizontal Bar
        Chart</button>
      <button type="button" class="btn btn-white border" (click)="pieChartType = 'pie'">Pie chart</button>
    </div>

  </div>



  <div class="row mt-5" style="height: 400px;">
    <div class="col-lg-3">
      <ng-container *ngIf="breakdown" class="mb-5">
        <div *ngFor="let item of breakdown">
          <b class="mr-5" style="width: 200px;">Total {{item[1].type}}</b>
          <span class="text-muted">{{item[1].amountHeld | currency:'£'}}</span>
        </div>
      </ng-container>
      <img src="./../../assets/chart.svg" alt="" class="img-fluid">
    </div>
    <div class="col-lg">
      <h3 *ngIf='currInvestor' class="my-4 text-center">Report For {{currInvestor.name}} {{currInvestor.surname}}</h3>
      <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>


</div>