@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "~angular-notifier/styles";
@import '~angular-notifier/styles.scss';

body {
  font-family: 'Varela Round', sans-serif !important;
  background : #f9fcff;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;

}

*input {
  outline: none;
}

.ngx-datatable .datatable-body .datatable-body-row {
  border-bottom: 1px solid #f3f3f3;
  cursor       : pointer;

  z-index: 2;
}

.content {
  margin-top: 78px;
}


.header-container {
  height          : 300px;
  background-color: #0061f2;
  background-image: linear-gradient(135deg, #0061f2 0, rgba(105, 0, 199, .8) 100%);
}

router-outlet~* {
  position: absolute;
  height  : 100%;
  width   : 100%;
}